@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,700;1,800&display=swap');

@font-face {
  font-family: "Newake";
  src: url('./fonts/NewakeFont-Demo.otf') format('opentype')
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --verde-turk: #32b0be;
  --verde-mok: #9bcfcd;
  --purple-bal: #67358c;
  --black-bl: #262626;
  --white-wi: #ffff;
}

@layer components {
  .my-custom-style {
    color: #262626;
    /* ... */
  }

  .navMenu .active .bordeBotMenu {
    bottom: -8px;
    background-color: var(--verde-turk);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .nav.openActive {
    min-height: 90px;
    height: 300px;
  }
}