@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --verde-turk: #32b0be;
  --verde-mok2: #dcf2f4;
  --verde-mok: #8ad2da;
  --purple-bal: #67358c;
  --black-bl: #262626;
  --white-wi: #ffff;
  --text-purple: #67358c;
  --bg-form: #f2f1fa;
}

@layer components {
  .my-custom-style {
    color: #262626;
    /* ... */
  }

  /* guille */
  .navMenu .active .bordeBotMenu {
    bottom: -8px;
    background-color: var(--verde-turk);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .nav.openActive {
    min-height: 90px;
    height: 300px;
  }


  /* katy */
  .mySwiper {
    width: 100%;
    height: calc(915px - 90px);
  }

  .homeImage {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/cxperiment.appspot.com/o/fotoHero.png?alt=media&token=d4f9e2cb-e468-48df-b9e1-a9ae1e1b1ab5);

  }


  /* .homeImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 27%, rgba(9, 9, 121, 0) 77%);
    pointer-events: none;
  } */

  .buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;

  }

  .homeTitle {
    height: 50vh;
    color: var(--purple-bal);
    transform: translateY(-50%);
  }


}