/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --verde-turk: #32b0be;
  --verde-mok: #9bcfcd;
  --purple-bal: #67358c;
  --black-bl: #262626;
  --white-wi: #ffff;
  --text-purple: #67358c;
}

@layer components {
  .my-custom-style {
    color: #262626;
    /* ... */
  }

  .navMenu .active .bordeBotMenu {
    bottom: -8px;
    background-color: var(--verde-turk);
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .nav.openActive {
    min-height: 90px;
    height: 300px;
  }

  .mySwiper {
    width: 100%;
    height: calc(915px - 90px);
  }

  .homeImage {
    position: relative;
    width: 100%;
    height: calc(915px - 90px);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/cxperiment.appspot.com/o/collage-creativo-experiencia-cliente%201.png?alt=media&token=20826d1d-347d-4bc7-98aa-c317c321c168&_gl=1*20tnie*_ga*MTQ2MjEzMjM4Ny4xNjc3MjUxMTI0*_ga_CW55HF8NVT*MTY4NjYwNTAzNy42LjEuMTY4NjYwNTMyOC4wLjAuMA..);
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }

  .homeImage {
    position: relative;
    width: 100%;
    height: calc(915px - 90px);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/cxperiment.appspot.com/o/collage-creativo-experiencia-cliente%201.png?alt=media&token=20826d1d-347d-4bc7-98aa-c317c321c168&_gl=1*20tnie*_ga*MTQ2MjEzMjM4Ny4xNjc3MjUxMTI0*_ga_CW55HF8NVT*MTY4NjYwNTAzNy42LjEuMTY4NjYwNTMyOC4wLjAuMA..);
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }


  .homeImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 27%, rgba(9, 9, 121, 0) 77%);
    pointer-events: none;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;

  }

  .homeTitle {
    height: 50vh;
    color: var(--purple-bal);
    transform: translateY(-50%);
  }


}